
table.logo{width:64px;height:64px;border:1px solid black;border-collapse:collapse;}
table.auto{width:auto;height:auto;}
table.formato{width:692px;height:auto;}
table.cien{width:1000px;height:100%;margin:0 auto;}

/*td.encabezado{height:175px;text-align:center;padding:0px;}*/
/*td.encabezado{height:210px;text-align:center;padding:0px;}*/
td.encabezado{height:140px;text-align:center;padding:0px;}
td.titulo{height:100px;}
td.subtitulo{height:125px;}
td.auto{padding:2px;}
td.formato{border:1px solid black;padding:5px;}
td.constancia{padding:10px 50px;}
td.tablaconstancia{padding:5px;border:1px solid gray;}
/*td.pie{height:50px;padding:0px;background-color:#B7312E;}*/
/*td.pie{height:210px;text-align:center;padding:0px;}*/
td.pie{height:100px;text-align:center;padding:0px;}
p{margin:0 auto;font:14px Arial;}
p.titulo{font:16px Arial;font-weight:bold;}
p.centrado{text-align:center;}
/*p.pie{font-size:10px;color:white;}
p.pie1{font-size:12px;font-style:italic}
p.pie2{font-size:9px;}*/
p.validacion{font-size:12px;}
p.valido{font-size:12px;font-weight:bold;color:red;}
a{color:#666666;text-decoration:none;}
a:hover{color:black;text-decoration:underline;}
a.enlacemuerto{color:#888888;text-decoration:none;}
a.enlacemuerto:hover{color:#888888;text-decoration:none;}
img {text-align:center;border:0px;}
img.enc1{width:1000px;height:72px;}
/*img.enc2{width:1000px;height:103px;}*/
/*img.enc2{width:1000px;height:210px;}
img.pie{width:1000px;height:210px;}*/
img.pie{width:1000px;height:100px;}
img.enc2{width:1000px;height:140px;}
#centrado{text-align:center;}
#derecha{text-align:right;}
#justificado{text-align:justify;}
/*#lineado{border-collapse:collapse;border:1px solid darkred;}
#lineado2{border-collapse:collapse;border:0px solid darkred;}*/
#lineado{border-collapse:collapse;border:1px solid #9F210A;}
#lineado2{border-collapse:collapse;border:0px solid #9F210A;}
/*#centrolineado{text-align:center;border-collapse:collapse;border:1px solid darkred;}
#centrolineado2{text-align:center;border-collapse:collapse;border:0px solid darkred;}*/
#derechalineado{text-align:right;border-collapse:collapse;border:1px solid #9F210A;}
#centrolineado{text-align:center;border-collapse:collapse;border:1px solid #9F210A;}
#centrolineado2{text-align:center;border-collapse:collapse;border:0px solid #9F210A;}
#invisible{visibility:hidden;}
#centradoinvisible{text-align:center;visibility:hidden;}
#invisible2{visibility:hidden;}
#invisible3{visibility:hidden;}
#invisibleizq{border-left:hidden}
#bordeder{border-collapse:collapse;border-right: 1px solid #9F210A;}
#centradoinvisible2{text-align:center;visibility:hidden;}
#regresar{font-size: 14px; font-family:Verdana;}